[Unit]
Description=Test App
Requires=network.target
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Environment="PATH=/home/ubuntu/miniconda3/bin"
WorkingDirectory=/home/ubuntu/myapp/
ExecStart=/home/ubuntu/miniconda3/bin/gunicorn --workers 4 --bind :5000 app:app --reload
[Install]
WantedBy=multi-user.target
